* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
	font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	width: 100%;
	word-wrap: break-word;
}
div { 
	background: #D3D3D3; 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
}
div textarea { border: 0; padding: 10px; width: 100%; margin-right: .5%; }
div #chat { 
	width: 45px; 
	height: 30px;
	color: white; 
	background: rgb(100, 65, 164); 
	border: none;
	padding: .5%;
	float: right; 
	margin-top: 1px;
	text-align: center;
}

button {
	cursor: pointer;
}
button i {
	color: rgb(100, 65, 164);
}

#setting {
	border: none;
	float: left;
	margin-top: 1%;
	font-size: 18px;
}

#settingsDiv {
	position: absolute;
	bottom: 33px;
	height: 200px;
	margin-left: 3px;
	width: 55%;
	border: 1px solid rgb(100, 65, 164);
	display:none;
}

#settingsDiv button i {
	position: static;
	padding: 5px;
	border-radius: 3px;
}

#settingsDiv button i:hover {
	background-color: black;
	color: white;
}

#nameInput {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 87%;
	margin-left: 5px;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }

#messages .nameClass {
	font-weight: bold;
}

#messages .timeClass {
	color: grey;
}

#iconId {
	background-color: black;
	color: white;
	padding: 1px;
	border-radius: 3px;
	width: 17px;
	height: 16px;
	text-align: center;
}

#iconChoices {
	position: relative;
}

#iconColorChoices {
	position: relative;
}

#nameColorChoices{
	position: relative;
}

.colorButton {
	height: 30px;
	width: 30px;
	border: none;
}

#currentIcon {
	width: 17px;
	background-color: black;
	height: 17px;
	text-align: center;
	border-radius: 3px;
	padding-top: 2px;
	padding-left: 1px;
}