* { margin: 0; padding: 0; box-sizing: border-box;}
html {
	height: 100%;
}
body { 
	font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	width: 100%;
	height: 100%;
	word-wrap: break-word;
	background-color: white;
	overflow: hidden;
}
div { 
	width: 100%; 
}
div textarea { 
	border: 0; 
	padding: 10px; 
	width: 100%; 
	height: 50px;
	margin-right: .5%;
	background-color: "white";
	color: "black"; 
}
div #chat { 
	width: 45px; 
	height: 30px;
	color: white; 
	background: rgb(100, 65, 164); 
	border: none;
	padding: .5%;
	float: right; 
	margin-top: 1px;
	text-align: center;
}

button {
	cursor: pointer;
}
button i {
	color: rgb(100, 65, 164);
}
img {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	position:relative;
	top: 3px;
	vertical-align: bottom;
}

.staticItem {
	background-color: #D3D3D3;
	width: 100%;
}

#visable {
	height: 100%;
}

#header {
	width: 100%;
	height: 45px;
	padding: 0px 0px;
	position: fixed;
	top: 0;
	flex: 0 0 auto;
}

#roomName {
	height: 45px;
	padding: 0px 0px;
	text-align: center;
	line-height: 3;
	vertical-align: bottom;
	background-color: #D3D3D3;
}

#footer {
	padding: 3px;
	position: fixed;
	bottom: 0;
	flex: 0 0 auto;
}

#setting {
	border: none;
	float: left;
	margin-top: 1%;
	font-size: 18px;
}

#settingsDiv {
	position: absolute;
	bottom: 33px;
	height: auto;
	margin-left: 3px;
	width: 220px;
	border: 1px solid rgb(100, 65, 164);
	display:none;
	padding-left: 3px;
}

#settingsDiv button i {
	position: static;
	padding: 5px;
	border-radius: 3px;
}

#settingsDiv button i:hover {
	background-color: black;
	color: white;
}

#nameInput {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 87%;
	margin-left: 0px;
	height: 19px;
	font-weight: bold;
	position: absolute;
}

#chatContainer {
	position: fixed;
	top: 45px;
	height: calc(100% - 137px);
}

#chatContainer:after {
	content: '';
	display: block;
	clear: both;
}

#scroll {
	position: absolute;
	overflow: auto;
	height: 100%;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	position: absolute;
}
#messages li { 
	padding: 0px 10px 0px 10px; 
	margin-bottom: 3px;
}

#messages .nameClass {
	font-weight: bold;
}

#messages .timeClass {
	color: grey;
}

#iconId {
	background-color: black;
	color: white;
	padding: 1px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	text-align: center;
}

#iconChoices {
	position: relative;
}

#iconColorChoices {
	position: relative;
}

#nameColorChoices{
	position: relative;
}

.colorButton {
	height: 30px;
	width: 30px;
	border: none;
}

#currentIcon {
	width: 17px;
	background-color: black;
	height: 17px;
	text-align: center;
	border-radius: 3px;
	padding-top: 2px;
	padding-left: 1px;
}

#darkModeLabel {
	text-align: right;
	float: left;
	margin-right: 4px;
}

#darkMode {
	float: left;
	position: relative;
	padding-top: 3px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 15px;
}

.switch input { display: none; }

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #696969;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 1px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}